/* .label {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bolder;
}

.form-control {
  border-color: black;
  border-width: medium;
  border-radius: 1rem;
  height: 40px;
  font-size: medium;
}

.alert {
  height: 30px;
  width: 275px;
  margin-top: -8px;
  padding: 0px 0px;
  text-align: center;
  font-size: medium;
  align-items: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: darkred;
}

.btn-custom {
  border-radius: 10rem;
  margin-left: 36%;
  margin-right: auto;
}

.btn-custom.active {
  background-color: #2bce3b;
  font-weight: bold;
  color: black;
  height: 45px;
}

.btn-custom.disabled {
  background-color: grey;
  color: white;
  height: 40px;
} */

/* p {
  margin-top: -10px;
  color: rgb(204, 1, 1);
  text-align: center;
} */

/* .container {
  justify-content: center;
  display: flex;
  max-width: 960px;
  margin: auto;
}

.card {
  background-color: black;
  text-align: center;
}

.mylink {
  color: #2bce3b;
  margin-top: -4%;
  margin-bottom: 10%;
}

.mylink:hover {
  color: rgb(38, 116, 233);
}

.option {
  background-color: #f7f7f74b;
  color: black;
  border-radius: 10rem;
}

.p-alert {
  color: red;
} */
