.UserCardTitle{
	background-color: #2bce3b;
	display: flex;
	justify-content: center;
	color: black;
	font-weight: bold;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.container-user{
  height: 40%;
  width: 40%;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;
  border-width: thin;
  border: #2bce3b;
  border-style: solid;
  border-radius: 1rem;
}

.card{
	border-radius: 1rem;
	height: 100%;
	border-color: #2bce3b;
}

.card-body{
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}