.navbar-custom {
  background-color: rgba(255, 255, 255, 0.686);
}


.btn-nav {
  font-weight: bold;
  border-radius: 10rem;
  width: auto;
  height: 30px;
}
.btn-nav.login {
  background-color: #2bce3b;
  border: #2bce3b;
  border-width: 1px;
  border-style: solid;
}

.btn-nav.login:hover {
  color: #2bce3b;
  background-color: white;
  cursor: pointer;
}

.btn-nav.signin {
  background-color: black;
  border: #2bce3b;
  border-width: 1px;
  border-style: solid;
  color: #2bce3b;
  margin-left: 5%;
}

.btn-nav.signin:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.navbar-brand {
  margin-left: 44%;
  margin-right: auto;
}

.logo {
  width: 45px;
  height: 45px;
  margin-left: 45%;
}
input:focus {
  outline: none;
}
