.card.barber {
  background-color: black;
  border: red;
  margin: 0px auto;
  border-radius: 1rem;
  border-style: solid;
  max-width: 60%;
}

.col.label {
  max-width: max-content;
  display: flex;
  margin: 0px auto;
}

.col.data {
  display: flex;
  justify-content: flex-end;
  margin: 0px auto;
}

.card-text.label {
  color: white;
  font-weight: normal;
}

.card-text.data {
  font-weight: bold;
  color: green;
}
