.search-bar {
  display: flex;
  justify-content: center;
  border-radius: 10rem;
  margin: 0px auto;
  text-align: center;
  width: 65%;
}

.search-bar:selection {
  background-color: green;
  margin: 0px auto;
}

.btn-search {
  border: #2bce3b;
  border-width: 3px;
  border-style: solid;
  margin: 10px auto;
  max-width: max-content;
  color: #2bce3b;
  border-radius: 10rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.btn-disabled {
  background-color: grey;
  color: white;
}

.btn-search:hover {
  background-color: #2bce3b;
}

input:focus {
  outline: none;
}
